# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# OSX
.DS_Store
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/Untitled1.ipynb
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/Untitled.ipynb
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/Current-Course-Materials/
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.profile
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.local/share/jupyter/notebook_secret
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.local/share/jupyter/nbsignatures.db
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.jupyter/migrated
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-z-92ef.jupyterlab-workspace
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-v-7e6c.jupyterlab-workspace
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-l-a94b.jupyterlab-workspace
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-e-1fc5.jupyterlab-workspace
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-c-13e6.jupyterlab-workspace
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-0-35ae.jupyterlab-workspace
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.bashrc
sample_home_dirs/jupyter-ksutton5@scmail.sp-77f27/.bash_logout
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/Current-Course-Materials/
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.profile
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.local/share/jupyter/runtime/nbserver-6387.json
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.local/share/jupyter/runtime/nbserver-6387-open.html
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.local/share/jupyter/notebook_secret
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.local/share/jupyter/nbsignatures.db
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.jupyter/migrated
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/labworkspacesauto-w-4933.jupyterlab-workspace
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/labworkspacesauto-w-013f.jupyterlab-workspace
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/labworkspacesauto-o-5943.jupyterlab-workspace
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/labworkspacesauto-o-5735.jupyterlab-workspace
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/labworkspacesauto-k-c5c6.jupyterlab-workspace
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.bashrc
sample_home_dirs/jupyter-krobbin1@scmail.sp-969f5/.bash_logout
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/Current-Course-Materials/
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.profile
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.local/share/jupyter/runtime/nbserver-5789.json
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.local/share/jupyter/runtime/nbserver-5789-open.html
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.local/share/jupyter/runtime/kernel-5f5527b0-9a98-4525-b454-b145cb59db37.json
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.local/share/jupyter/notebook_secret
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.local/share/jupyter/nbsignatures.db
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/migrated
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/labworkspacesauto-w-013f.jupyterlab-workspace
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/labworkspacesauto-u-d1de.jupyterlab-workspace
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/labworkspacesauto-f-8b35.jupyterlab-workspace
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/labworkspacesauto-d-fa4c.jupyterlab-workspace
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/labworkspacesauto-a-6405.jupyterlab-workspace
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.bashrc
sample_home_dirs/jupyter-kkirkla6@scmail.sp-4f59c/.bash_logout
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/Current-Course-Materials/
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.profile
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.local/share/jupyter/runtime/nbserver-4214.json
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.local/share/jupyter/runtime/nbserver-4214-open.html
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.local/share/jupyter/notebook_secret
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.local/share/jupyter/nbsignatures.db
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/migrated
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/lab/workspaces/labworkspacesauto-n-3908.jupyterlab-workspace
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/lab/workspaces/labworkspacesauto-e-d164.jupyterlab-workspace
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/lab/workspaces/labworkspacesauto-8-510e.jupyterlab-workspace
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/lab/workspaces/labworkspacesauto-7-383b.jupyterlab-workspace
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.bashrc
sample_home_dirs/jupyter-kgrimste@scmail.sp-6ce98/.bash_logout
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/Current-Course-Materials/
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.profile
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/nbserver-5324.json
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/nbserver-5324-open.html
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/kernel-c64c23fa-29e6-487a-ae7d-025d71f95bf4.json
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/kernel-8915d81c-a7d9-4c3b-8345-826c441da247.json
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/kernel-34b69f49-bd70-4fcc-8cb7-aefaa0ca42a7.json
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/kernel-1f0147c0-7184-458f-9070-8a50e4514dbf.json
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/notebook_secret
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/nbsignatures.db
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.jupyter/migrated
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.jupyter/lab/workspaces/labworkspacesauto-q-6fd4.jupyterlab-workspace
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.jupyter/lab/workspaces/labworkspacesauto-i-72c8.jupyterlab-workspace
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.bashrc
sample_home_dirs/jupyter-kfulton2@scmail.sp-679ba/.bash_logout
sample_home_dirs/j.tgz
home/j.tgz
home/jupyter-kfulton2@scmail.sp-679ba/.bash_logout
home/jupyter-kfulton2@scmail.sp-679ba/.bashrc
home/jupyter-kfulton2@scmail.sp-679ba/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
home/jupyter-kfulton2@scmail.sp-679ba/.jupyter/lab/workspaces/labworkspacesauto-i-72c8.jupyterlab-workspace
home/jupyter-kfulton2@scmail.sp-679ba/.jupyter/lab/workspaces/labworkspacesauto-q-6fd4.jupyterlab-workspace
home/jupyter-kfulton2@scmail.sp-679ba/.jupyter/migrated
home/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/nbsignatures.db
home/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/notebook_secret
home/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/kernel-1f0147c0-7184-458f-9070-8a50e4514dbf.json
home/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/kernel-34b69f49-bd70-4fcc-8cb7-aefaa0ca42a7.json
home/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/kernel-8915d81c-a7d9-4c3b-8345-826c441da247.json
home/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/kernel-c64c23fa-29e6-487a-ae7d-025d71f95bf4.json
home/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/nbserver-5324-open.html
home/jupyter-kfulton2@scmail.sp-679ba/.local/share/jupyter/runtime/nbserver-5324.json
home/jupyter-kfulton2@scmail.sp-679ba/.profile
home/jupyter-kfulton2@scmail.sp-679ba/Current-Course-Materials/
home/jupyter-kgrimste@scmail.sp-6ce98/.bash_logout
home/jupyter-kgrimste@scmail.sp-6ce98/.bashrc
home/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
home/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/lab/workspaces/labworkspacesauto-7-383b.jupyterlab-workspace
home/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/lab/workspaces/labworkspacesauto-8-510e.jupyterlab-workspace
home/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/lab/workspaces/labworkspacesauto-e-d164.jupyterlab-workspace
home/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/lab/workspaces/labworkspacesauto-n-3908.jupyterlab-workspace
home/jupyter-kgrimste@scmail.sp-6ce98/.jupyter/migrated
home/jupyter-kgrimste@scmail.sp-6ce98/.local/share/jupyter/nbsignatures.db
home/jupyter-kgrimste@scmail.sp-6ce98/.local/share/jupyter/notebook_secret
home/jupyter-kgrimste@scmail.sp-6ce98/.local/share/jupyter/runtime/nbserver-4214-open.html
home/jupyter-kgrimste@scmail.sp-6ce98/.local/share/jupyter/runtime/nbserver-4214.json
home/jupyter-kgrimste@scmail.sp-6ce98/.profile
home/jupyter-kgrimste@scmail.sp-6ce98/Current-Course-Materials/
home/jupyter-kkirkla6@scmail.sp-4f59c/.bash_logout
home/jupyter-kkirkla6@scmail.sp-4f59c/.bashrc
home/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
home/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/labworkspacesauto-a-6405.jupyterlab-workspace
home/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/labworkspacesauto-d-fa4c.jupyterlab-workspace
home/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/labworkspacesauto-f-8b35.jupyterlab-workspace
home/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/labworkspacesauto-u-d1de.jupyterlab-workspace
home/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/lab/workspaces/labworkspacesauto-w-013f.jupyterlab-workspace
home/jupyter-kkirkla6@scmail.sp-4f59c/.jupyter/migrated
home/jupyter-kkirkla6@scmail.sp-4f59c/.local/share/jupyter/nbsignatures.db
home/jupyter-kkirkla6@scmail.sp-4f59c/.local/share/jupyter/notebook_secret
home/jupyter-kkirkla6@scmail.sp-4f59c/.local/share/jupyter/runtime/kernel-5f5527b0-9a98-4525-b454-b145cb59db37.json
home/jupyter-kkirkla6@scmail.sp-4f59c/.local/share/jupyter/runtime/nbserver-5789-open.html
home/jupyter-kkirkla6@scmail.sp-4f59c/.local/share/jupyter/runtime/nbserver-5789.json
home/jupyter-kkirkla6@scmail.sp-4f59c/.profile
home/jupyter-kkirkla6@scmail.sp-4f59c/Current-Course-Materials/
home/jupyter-krobbin1@scmail.sp-969f5/.bash_logout
home/jupyter-krobbin1@scmail.sp-969f5/.bashrc
home/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
home/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/labworkspacesauto-k-c5c6.jupyterlab-workspace
home/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/labworkspacesauto-o-5735.jupyterlab-workspace
home/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/labworkspacesauto-o-5943.jupyterlab-workspace
home/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/labworkspacesauto-w-013f.jupyterlab-workspace
home/jupyter-krobbin1@scmail.sp-969f5/.jupyter/lab/workspaces/labworkspacesauto-w-4933.jupyterlab-workspace
home/jupyter-krobbin1@scmail.sp-969f5/.jupyter/migrated
home/jupyter-krobbin1@scmail.sp-969f5/.local/share/jupyter/nbsignatures.db
home/jupyter-krobbin1@scmail.sp-969f5/.local/share/jupyter/notebook_secret
home/jupyter-krobbin1@scmail.sp-969f5/.local/share/jupyter/runtime/nbserver-6387-open.html
home/jupyter-krobbin1@scmail.sp-969f5/.local/share/jupyter/runtime/nbserver-6387.json
home/jupyter-krobbin1@scmail.sp-969f5/.profile
home/jupyter-krobbin1@scmail.sp-969f5/Current-Course-Materials/
home/jupyter-ksutton5@scmail.sp-77f27/.bash_logout
home/jupyter-ksutton5@scmail.sp-77f27/.bashrc
home/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/lab-a511.jupyterlab-workspace
home/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-0-35ae.jupyterlab-workspace
home/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-c-13e6.jupyterlab-workspace
home/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-e-1fc5.jupyterlab-workspace
home/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-l-a94b.jupyterlab-workspace
home/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-v-7e6c.jupyterlab-workspace
home/jupyter-ksutton5@scmail.sp-77f27/.jupyter/lab/workspaces/labworkspacesauto-z-92ef.jupyterlab-workspace
home/jupyter-ksutton5@scmail.sp-77f27/.jupyter/migrated
home/jupyter-ksutton5@scmail.sp-77f27/.local/share/jupyter/nbsignatures.db
home/jupyter-ksutton5@scmail.sp-77f27/.local/share/jupyter/notebook_secret
home/jupyter-ksutton5@scmail.sp-77f27/.profile
home/jupyter-ksutton5@scmail.sp-77f27/Current-Course-Materials/
home/jupyter-ksutton5@scmail.sp-77f27/Untitled.ipynb
home/jupyter-ksutton5@scmail.sp-77f27/Untitled1.ipynb
